html {
    height: 100%;
    color: black;
    background-color: white;
}

.tile {
    position: absolute;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    background-color: #def;
}

.char {
    font-family: 'VT323', monospace;
    font-size: 30px;
}

