html {
    height: 100%;
    color: #eee;
    background-color: black;
}

.tile {
    background-color: black;
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player {
    background-color: #111;
}

.char {
    font-family: 'VT323', monospace;
    font-size: 30px;
}

